.galleryImage {
  border: 1px solid red;
 background-image: url("../../static/360/i1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
